[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "accbaseballr"]
	path = accbaseballr
	url = https://github.com/hvb210/accbaseballr
